.icon-48-photos {
      background-image: url(../images/l_photos.png);
      padding-left:60px!important;
}

.icon-48-photo {
      background-image: url(../images/l_photos.png);
      padding-left:60px!important;
}

